<!-- ========== MAIN CONTENT ========== -->
<main id="content">
  <div class="overflow-hidden">
    <div class="relative">
      <div aria-hidden="true" class="flex -z-1 absolute -top-48 start-0">
        <div class="bg-purple-200 opacity-30 blur-3xl w-[1036px] h-150 dark:bg-purple-900 dark:opacity-20"></div>
        <div class="bg-gray-200 opacity-90 blur-3xl w-[577px] h-75 transform translate-y-32 dark:bg-neutral-800/60"></div>
      </div>
      <div class="max-w-[85rem] px-4 pt-10 sm:px-6 lg:px-8 lg:pt-14 mx-auto">
        <div class="max-w-2xl mx-auto text-center mb-10">
          <h2 class="text-3xl leading-tight font-bold md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight bg-clip-text bg-linear-to-r from-violet-600 to-fuchsia-700 s">God First Foundation Model High School</h2>
          <p class="mt-2 lg:text-lg text-gray-800 dark:text-neutral-200">Where we lay the foundation for the builders of tommorrow</p>
        </div>
      </div>
  </div>
</main>

